{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 100]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "parcel": {
        "rootDir": ""
      },
      "alias": {
        "map": [["air-console", "./vendor/js/airconsole-1.7.0.js"]]
      }
    }
  }
}
